/* assets/style.css */

.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
	margin-bottom: 10px;
}

.logo-container {
    display: flex;
	justify-content: space-between;
    align-items: center;     /* Center vertically */
    flex-direction: row;     /* Ensure items are in a row */
	gap: 10px;
}

.icon-button {
    background-color: transparent;  
    border: none;
	border-radius: 100%;    
    color: white; 
    font-size: 24px;  
    padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;  
    cursor: pointer;  
}

.icon-button:hover {
    color: #ffffff;
	background-color: #1F314D;
}

.menu-button {
    display: none;
    /* position: fixed;
    top: 10px;
    left: 10px; */
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    z-index: 1000;
    cursor: pointer; /* Ensure the button looks clickable */
}

.left-pane {
    display: inline-block;
    height: 100%;
    min-width: 20%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out; /* Ensure smooth slide-in/out */
}

.left-pane .header {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.left-pane .form-label {
    color: #fff;
    font-weight: bold;
}

.left-pane .form-control, 
.left-pane .btn, 
.left-pane .slider {
    margin-bottom: 10px;
}

.left-pane .slider .rc-slider-mark-text {
    color: #fff !important;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 10px;
}

.single-input {
	width: 100%;
	margin-bottom: 10px
}

.navigate-button{
	margin-top: 10;
	width: 100%; 
	background-color: #1F314D; 
	border-color: #1F314D; 
	font-weight: 'bold';
}

.navigate-button:hover {
	background-color: "#263C5E";
	border-color: "#263C5E";
}
.nav-box {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.nav-box-item {
	width: 100%;
}

.nav-box-item1 {
	margin-top: 20px; 
	margin-bottom: 20px
}

.map-pane {
    display: inline-block;
    height: 100%;
    width: 80%;
}

.leaflet-tooltip-pane {
    max-width: 400px; /* Adjust this value as needed */
    white-space: normal; /* Allow text to wrap */
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }
    .left-pane {
        width: 100%;
        height: auto;
		padding-bottom: 0px;
    }

	.inputs{
		margin-bottom: 0px;
	}

	.navigate-button {
		display: flex;
		justify-content: center; /* Center horizontally */
    	align-items: center;     /* Center vertically */
        width: 90%; /* Set the width to make it a square */
        height: 90%; /* Set the height to make it a square */
        text-align: center; /* Center the text horizontally */
        line-height: 100px; /* Center the text vertically */
	}

    .map-pane {
        width: 100%;
        height: calc(100vh - 200px); /* Adjust the height as needed */
    }
    .menu-button {
        display: block;
    }
	.inputs {
		flex-direction: row;
		width: 100%;
	}

	.nav-box {
		flex-direction: row;
		width: 100%;
		gap: 10px;
	}

	.nav-box-item1 {
		order: 2;
		width: 50%;
		height: 100%;
	}
	.nav-box-item2 {
		width: 50%;
		order: 1;
	}

	/* .route-info {
		transform: translateY(0);
        transition: transform 0.3s ease-in-out; /* Ensure smooth slide-in/out 
	}*/
    /*.route-info.show {
        transform: translateY(0);
    } */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}